.docfx/**
.github/**
.husky/**
.services/**
.vscode/**
dist/**
*.code-workspace
Documentation~/**/*.meta
scripts/**
Unity.AlgoSdk*/**
.czrc
.editorconfig
.gitattributes
.gitignore
.npmignore
.releaserc.json
omnisharp.json
